@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  /* Primary */
  --Light-red: hsl(0, 100%, 67%); 
  --Orangey-yellow: hsl(39, 100%, 56%); 
  --Green-teal: hsl(166, 100%, 37%); 
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* Neutral*/
  --White: hsl(0, 0%, 100%); 
  --Pale-blue: hsl(221, 100%, 96%); 
  --Light-lavender: hsl(241, 100%, 89%); 
  --Dark-gray-blue: hsl(224, 30%, 27%);

  /* Gradients */
        /* Background */
  --Light-slate-blue: hsl(252, 100%, 67%); 
  --Light-royal-blue: hsl(241, 81%, 54%); 
        /* Circle */
  --Violet-blue: hsla(256, 72%, 46%, 1); 
  --Persian-blue: hsla(241, 72%, 46%, 0);
}
/* Use transparency to get the color variations necessary to match the design. Hint: look into using `hsla()`. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: 'Hanken Grotesk', sans-serif;
}

footer {
  min-height: 20px;
}

.results-container {
  margin: auto;
  width: 375px;
  height:300px;
  background: linear-gradient(360deg, hsla(241, 81%, 54%, 1) 5%, hsla(252, 100%, 67%, 1) 100%);
  border-radius: 0% 0% 10% 10%;
  box-shadow: 0 0 21px -5px var(--Dark-gray-blue);
}

.results-header {
  text-align: center;
  color: var(--Light-lavender);
  font-size: 14px;
  padding: 14px;
}

.results-numbers {
  border-radius: 50%;
  background-color: var(--Light-royal-blue);
  width:120px;
  height:120px;
  margin: auto;
  padding: 26px;
  background-image: linear-gradient(to bottom right, var(--Persian-blue), var(--Violet-blue));
}

.results-score {
  color: #fff;
  font-size: 40px;
  margin: 2px;
  text-align: center;
  
  font-weight: 800;
  
}

.one-hundred {
  color: var(--Light-lavender);
  font-size: 14px;
  margin: auto 20px;
  text-align: center;
}

.great {
  color: #fff;
  font-size: 20px;
  margin: auto;
  text-align: center;


  border: dotted;
}

.results-paragraph {
  color: var(--Light-lavender);
  text-align: center;
  font-size: 14px;
  padding: 20px;



  border: orange solid 1px;
}

/* bad bad code */

.summary-container {
  margin: auto;
  width: 375px;
  background-color: #fff;
}

.summary-heading {
  padding: 25px 25px 20px 40px ;
}

.summary-reaction {
  background-color: rgba(255, 87, 87, 17%);
  margin: 0 40px;
  padding: 14px;
  border-radius: 5%;
}

.summary-memory {
  margin: 15px 40px;
  padding: 14px;
  background: rgba(255, 176, 31, 17%);
}

.summary-verbal {
  margin: 15px 40px;
  padding: 14px;
  background-color: hsl(166, 100%, 37%, 17%);
}

.summary-visual {
  margin: 15px 40px;
  padding: 14px;
  background-color: rgba(18, 37, 212, 17%);
}

/* need to fix this code  for next version */

.continue-btn {
  background-color: var(--Dark-gray-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border: none;
  color: white;
  padding: 15px 30%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
}

@media (min-width: 720px) {
  body {
      width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
  }

  main {
    display: flex;
  }

  .results-container {
    border-radius: 9%;
    height: 400px;
  }
}