@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  /* Primary */
  --Light-red: hsl(0, 100%, 67%); 
  --Orangey-yellow: hsl(39, 100%, 56%); 
  --Green-teal: hsl(166, 100%, 37%); 
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* Neutral*/
  --White: hsl(0, 0%, 100%); 
  --Pale-blue: hsl(221, 100%, 96%); 
  --Light-lavender: hsl(241, 100%, 89%); 
  --Dark-gray-blue: hsl(224, 30%, 27%);

  /* Gradients */
        /* Background */
  --Light-slate-blue: hsl(252, 100%, 67%); 
  --Light-royal-blue: hsl(241, 81%, 54%); 
        /* Circle */
  --Violet-blue: hsla(256, 72%, 46%, 1); 
  --Persian-blue: hsla(241, 72%, 46%, 0);
}
/* Use transparency to get the color variations necessary to match the design. Hint: look into using `hsla()`. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Hanken Grotesk', sans-serif;
}

.container {

  border: red solid 7px;
}

.results-container {
  
  
  border: blue solid 7px;
}
.results-header {
  
  
  border: blue dotted 3px;
}

.results-score {


  border: blue solid 3px;
}

.results-paragraph {


  border: orange dashed 1px;
}

.results-header {


  border: orange solid;
}

.summary-container {



  border: red solid;
}

.summary-heading {


  border:red dotted;
}

.summary-reaction {
  
  
  border: pink solid;
}

.summary-first-number {


  border: red solid;
}

.summary-memory {


  border: yellow solid;
}

.summary-verbal {


  border: green solid;
}

.summary-visual {


  border: blue solid;
}

.contiune-btn {
  
}